@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vscode-dark-theme.css";

textarea {
  resize: none !important;
}

@layer base {
  body {
    @apply dark:bg-zinc-900 bg-white;
  }

  header {
    @apply dark:bg-zinc-800/60 bg-white/60;
  }

  .post-article {
    a {
      @apply break-all;
    }
  }
}

.hljs {
  padding: unset !important;
  background: transparent !important;
}

html {
  @apply w-full;
  @apply h-full;
}
body {
  @apply w-full;
  @apply h-full;
}
div#__next {
  @apply w-full;
  @apply h-full;
}
