@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vscode-dark-theme.css";
@import "tailwind-custom-style.scss";
textarea {
  resize: none !important;
}

@layer base {
  body {
    @apply dark:bg-zinc-900 bg-zinc-100;
  }

  header {
    @apply dark:bg-zinc-800/60 bg-zinc-100/60;
  }

  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-400 border-2 border-zinc-400 rounded-xl hover:bg-zinc-600;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}

.hljs {
  padding: unset !important;
  background: transparent !important;
}

html {
  @apply w-full;
  @apply h-full;
}
body {
  // -ms-overflow-style: none;
  @apply w-full;
  @apply h-full;
}
div#__next {
  @apply w-full;
  @apply h-full;
}

.break-word {
  word-break: break-word;
}
