@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #121212;
}

textarea {
  resize: none !important;
}

[data-theme="dark"] {
  --background: #121212;
  --foreground: white;
}

html {
  @apply w-full;
  @apply h-full;
}
body {
  @apply w-full;
  @apply h-full;
}
div#__next {
  @apply w-full;
  @apply h-full;
}
// main {
//   @apply w-full;
//   @apply h-full;
// }
